0.0.0.0:80 {
  proxy / django:{$PORT} {
    transparent
    except /media /static
  }

  root /var/www

  log /var/log/access.log {
    rotate {
      size 100 # Rotate after 100 MB
      age  14  # Keep log files for 14 days
      keep 10  # Keep at most 10 log files
    }
  }
}
